{{#if this.showIcon}}
  <i class="el-alert__icon {{this.iconClass}} {{this.isBigIcon}}"></i>
{{/if}}
<div class="el-alert__content">
  {{#if this.hasBlock}}
    {{yield}}
  {{else}}
    {{#if this.title}}
      <span class="el-alert__title  {{this.isBoldTitle}} ">
        {{ this.title }}
      </span>
    {{/if}}
  {{/if}}

  {{#if this.description}}
    <p class="el-alert__description">{{ this.description }}</p>
  {{/if}}

  {{#if this.closable}}
    <i
      class="el-alert__closebtn {{if this.closeText "is-customed" "el-icon-close"}} "
      role="button"
      {{action "close"}}
    >
      {{this.closeText}}
    </i>

  {{/if}}
</div>
