<div class="el-badge" ...attributes>
  {{yield}}
  {{#if this.isShow}}
    <sup
      class=" el-badge__content el-badge__content--{{this.type}} {{if this.args.isDot "is-dot"}} {{if (has-block) "is-fixed"}}"
    >
      {{this.content}}
    </sup>
  {{/if}}
</div>