
  <Input
    @type="checkbox"
    @checked={{this.value}}
    name={{this.name}}
    disabled={{this.isDisabled}}
    tabindex={{this.tabindex}}
    autofocus={{this.autofocus}}
    form={{this.form}}
    class="el-checkbox-button__original"
    {{on 'click' (action "handleChange") value="target.checked"}}
  />
  {{! template-lint-disable no-inline-styles }}
<span class="el-checkbox-button__inner" style={{this.style}}>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{this.label}}
  {{/if}}
</span>

