<h2>Badge</h2>
<p>A number or status mark on buttons and icons.</p>



<div class="page-badges">
<h3>Basic usage</h3>
<ElCard @class="box-card" @shadow="hover" as |card|>
  <card.header @bodyStyle="padding:4px 0px 4px 20PX;">
    <p>Displays the amount of new messages.</p>
  </card.header>
  <card.body>
<ElCard @class="box-card" @shadow="naver" as |card|>
  <card.body>
    <ElBadge @value={{12}} class="item">
      <ElButton @size="small">comments</ElButton>
    </ElBadge>
    <ElBadge @value={{3}} class="item">
      <ElButton @size="small">replies</ElButton>
    </ElBadge>
    <ElBadge @value={{1}} class="item" @type="primary">
      <ElButton @size="small">comments</ElButton>
    </ElBadge>
    <ElBadge @value={{2}} class="item" @type="warning">
      <ElButton @size="small">replies</ElButton>
    </ElBadge>
  </card.body>
</ElCard>
<pre><code class="language-handlebars">&lt;ElBadge @value=12 &gt;
  &lt;ElBadge @size="small"&gt;comments&lt;/ElButton&gt;
&lt;ElBadge&gt;
&lt;ElBadge @value=3 class="item"&gt;
  &lt;ElButton @size="small"&gt;replies&lt;/ElButton&gt;
&lt;ElBadge&gt;
&lt;ElBadge @value=1 class="item" type="primary"&gt;
  &lt;ElButton @size="small"&gt;comments&lt;/ElButton&gt;
&lt;ElBadge&gt;
&lt;ElBadge @value=2 class="item" type="warning"&gt;
  &lt;ElButton @size="small"&gt;replies&lt;/ElButton&gt;
&lt;ElBadge&gt;</code></pre>
  </card.body>
</ElCard>

<h3>Max value</h3>
<ElCard @class="box-card" @shadow="hover" as |card|>
  <card.header @bodyStyle="padding:4px 0px 4px 20PX;">
    <p>You can customize the max value.</p>
    <p>The max value is defined by property <code class="code">max</code> which is a <code class="code">Number</code> .
      Note that it only works when <code class="code">value</code> is also a <code class="code">Number</code> .</p>
  </card.header>
  <card.body>
<ElCard @class="box-card" @shadow="naver" as |card|>
  <card.body>
    <ElBadge @value={{200}} @max={{99}} class="item">
      <ElButton @size="small">comments</ElButton>
    </ElBadge>
    <ElBadge @value={{100}} @max={{10}} class="item">
      <ElButton @size="small">replies</ElButton>
    </ElBadge>
  </card.body>
</ElCard>
<pre><code class="language-handlebars">&lt;ElBadge @value=200 max=99 class="item"&gt;
  &lt;ElButton @size="small"&gt;comments&lt;/ElButton&gt;
&lt;ElBadge&gt;
&lt;ElBadge @value=100 max=10 class="item"&gt;
  &lt;ElButton @size="small"&gt;replies&lt;/ElButton&gt;
&lt;ElBadge&gt;</code></pre>
  </card.body>
</ElCard>

<h3>Customizations</h3>
<ElCard @class="box-card" @shadow="hover" as |card|>
  <card.header @bodyStyle="padding:4px 0px 4px 20PX;">
    <p>Displays text content other than numbers.</p>
    <p>When <code class="code">value</code> is a <code class="code">String</code> , it can display customized text.</p>
  </card.header>
  <card.body>
<ElCard @class="box-card" @shadow="naver" as |card|>
  <card.body>
    <ElBadge @value="new" class="item">
      <ElButton @size="small">comments</ElButton>
    </ElBadge>
    <ElBadge @value="hot" class="item">
      <ElButton @size="small">replies</ElButton>
    </ElBadge>
  </card.body>
</ElCard>
<pre><code class="language-handlebars">&lt;ElBadge @value="new" class="item"&gt;
  &lt;ElButton @size="small"&gt;comments&lt;/ElButton&gt;
&lt;ElBadge&gt;
&lt;ElBadge @value="hot" class="item"&gt;
  &lt;ElButton @size="small"&gt;replies&lt;/ElButton&gt;
&lt;ElBadge&gt;</code></pre>
  </card.body>
</ElCard>

<h3>Little red dot</h3>
<ElCard @class="box-card" @shadow="hover" as |card|>
  <card.header @bodyStyle="padding:4px 0px 4px 20PX;">
    <p>Use a red dot to mark content that needs to be noticed.</p>
    <p>Use the attribute <code class="code">isDot</code> . It is a <code class="code">Boolean</code> .</p>
  </card.header>
  <card.body>
<ElCard @class="box-card" @shadow="naver" as |card|>
  <card.body>
  <ElBadge @isDot={{true}} class="item">query</ElBadge>
  <ElBadge @isDot={{true}} class="item">
    <ElButton @class="share-button" @icon="el-icon-share" @type="primary"></ElButton>
  </ElBadge>
  </card.body>
</ElCard>
<pre><code class="language-handlebars">&lt;ElBadge @isDot=true class="item"&gt;query&lt;ElBadge&gt;
&lt;ElBadge @isDot=true class="item"&gt;
  &lt;ElButton @class="share-button" icon="el-icon-share" type="primary"&gt;&lt;/ElButton&gt;
&lt;ElBadge&gt;</code></pre>
  </card.body>
</ElCard>

<h2>Attributes</h2>
<ElCard @class="box-card" @shadow="hover" @bodyStyle="padding:0px;" as |card|>
<card.body>
    <ElTable @data={{this.tableAttributes}} as |t|>
      {{t.column prop="attribute" label="Attribute" width=150}}
      {{t.column prop="desc" label="Description"}}
      {{t.column prop="type" label="Type" width=100}}
      {{t.column prop="val" label="Accepted Values" width=250}}
      {{t.column prop="def" label="Default" width=75}}
    </ElTable>
</card.body>
</ElCard>

</div>
